body{
    background-color: rgb(100, 179, 119);
}
h1{
    color: royal black;
    text-align: center;
}
h2{
    color: red;
}
#serial{
    color: rgb(38, 0, 255);
}
p{
    color: rgb(5, 45, 48);
}
.profile{
    border-radius: 9px;
    width: 200pxx;
    height: 200px;
    object-fit: cover;
}
.port{
    color: rgb(70, 47, 79)    ;
}
h3{
    color:sienna
}
html{
    scroll-behavior: smooth;
}